@media only screen and (min-width: 901px) {
    .hli {
        display: block!important
    }

}

@media all and (max-width: 900px) {
    header {
        position: static;
    }
    #logo {
        padding-top: 50px;
        text-align: center;

    }
    /*アイコン*/
    .menu-icon {
        cursor: pointer;
        padding: 9px 25px;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .line_1,
    .line_2,
    .line_3 {
        width: 26px;
        height: 3px;
        background-color: #E6D9CE;
        display: block;
        margin-bottom: 8px;
    }
    .menu-icon span {
        transition: .4s;
    }
    .menu-icon.close .line_1 {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(12px) rotate(-45deg);
    }
    .menu-icon.close .line_2 {
        opacity: 0;
    }
    .menu-icon.close .line_3 {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-10px) translateX(0px) rotate(45deg);

    }
    /*サブアイコン*/
     #menu-icon1 {
        display: inline-block;
        padding: 10px 25px;
        position: absolute;
        right: 0;
        top: 0;
    }
    #menu-icon1:hover {
        background-color: #997A65;
        color: #604C3F;
    }

    /*ヘッダーメニュー*/
    #header-list {
        position: fixed;
        top: 0;
        width: 100%;
    }
    #header-list ul {
        flex-direction: column;
    }
    #header-list li {
        position: relative;
    }
    #header-list a {
        width: 100%;
        text-align: left;
    }
    .hli {
        display: none;
        background-color: #604C3F;
    }
    .hli-sub a {
        padding: 0 40px
    }
    .top-img{
    padding-top: 0px;
}

    /*ニュース*/
    #news {
        padding-top: 60px;
    }
    #news-box dt {
        float: none;
    }
#drink,#sweet,#food{
        object-fit: cover;
    object-position: left center;
    }
    /*メニュー*/
    #menu {
        padding-top: 60px;
    }
    .menu-list-in {
        width: 100%;
    }
    .menu-list-in1 {
        width: 100%;
        padding: 0 15px;
    }
    .cake-list {
        width: 100%;
    }

    /*アクセス*/
    #access {
        padding-top: 60px;
        min-height: 88vh;
    }
    .access-in {
        display: block;
    }
    #map iframe {
        width: 100%;
    }
    .access-info {
        padding: 30px 0 0;
    }
    .access-head {
        background-color: #E6D2B8;
        padding: 10px 25px;
    }
    .access-content {
        padding: 10px 25px;
    }

    /*コンタクト*/
    #contact {
        padding-top: 60px;
        margin: 0 25px;
        min-height: 73vh;
    }
    .contact-area {
        width: 100%;
    }

    /*ボタン*/
    .button {
        text-align: center;
    }

    /*フッター*/
    #footer-logo {
        margin: 0;
        padding: 20px 0;
        float: none;
        text-align: center;
    }
    #footer-list {
        height: 0px;
    }

    .fli a {
        display: none;
    }


    @media all and (max-width: 750px) {

        #header-list {
            height: 40px
        }
        ul,
        a {
            font-size: 18px;
        }

        .menu-icon {
            font-size: 18px;
        }

        .access-list {
            margin-bottom: 5px
        }
        .access-head {
            padding: 10px 0 10px 25px;
        }
        .access-content {
            padding: 5px 25px;
        }
    }
