@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 18px;
    background-color: #FFF9F1;
    color: #332922;
}

header {
    opacity: 0.95;
    position: fixed;
    z-index: 2;
    width: 100%;
}

h1 {
    font-family: 'Charmonman', cursive;
    font-size: 50px;
}

#logo {
    padding-left: 20px;
    background-color: #E6D9CE;
}

#logo h1 {
    font-size: 35px;
    max-width: 1040px;
    margin: 0 auto;
}


#main {
    max-width: 1040px;
    margin: 0 auto;
}

/*アイコン*/
.menu-icon {
    display: none;
}
#menu-icon1 {
    display: none;
}

/*ヘッダーメニュー*/
ul,
a {
    list-style: none;
    text-decoration: none;
    font-size: 28px;
    color: #E6D9CE;
}
#header-list {
    height: 49.6px;
    background-color: #604C3F;
}
#header-list ul {
    max-width: 1040px;
    margin: 0 auto;
}
#header-list > ul {
    display: flex;
}
#header-list li {
    width: 100%;
}
#header-list a {
    display: inline-block;
}
.hli a {
    width: 100%;
    text-align: center;
    line-height: 50px;
}
.hli a:hover {
    background-color: #997A65;
    color: #604C3F;
}

/*サブリスト*/
#sub-list {
    display: none;
}
.hli-sub {
    background-color: #604C3F;
    border-top: dashed 2px #E6D9CE;
}

/*メイン画像*/
.top-img{
    padding-top: 117px;
    padding-bottom: 30px;
}

.menu-img{
    /* padding-top: 117px; */
}

/*ニュース*/
#news {
    min-height: 300px;
    padding-top: 120px;
    margin-top: -120px;
}
#news-box {
    margin-left: 40px;
    line-height: 1.4;
}
#news-box dt {
    padding-right: 15px;
    float: left;
    font-weight: bold;
    width: 15%;
}
#news-box dd {
    padding-bottom: 20px;
}

/*メニュー*/
#menu {
    padding-top: 120px;
    margin-top: -120px;
}
#menu h1{
    display:block;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.menu-list-in {
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    border-bottom: 1px dashed #543;
    height: 4rem;
    align-items: center;
    margin-top: 25px;
}
.menu-price {
    font-weight: bold;
    font-size: 26px;
}

.menu-list-1 {
    display: block;
    overflow: hidden;
    padding: 30px 15px;
}
.menu-list-in1 {
    box-sizing: border-box;
    width: 55%;
    height: 60px;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#drink,#sweet,#food{
    position:relative;
    margin-top: -120px;
    padding-top: 117px;
}

#sweet,#food{
    margin-top: 30px;
}

.menu-title{
    font-family: 'Charmonman', cursive;
    position:absolute;
    top: 200px;
    font-size: 40px;
    padding-left: 15px;
}
/*ケーキメニュー*/
.cake-set {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #E6D2B8;
    margin-bottom: 35px;
}
.cake-set p {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    border-top: dashed 1px #543;
}
.cake-select {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: dashed 1px #543;
}
.cake-list {
    width: 33%;
    display: flex;
    padding: 20px 0 20px 15px;
    box-sizing: border-box;
    line-height: 1.4;
}
.cake-name {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/*アクセス*/
#access {
    padding-top: 120px;
    min-height: 80vh;
}
.access-in {
    display: flex;
    margin-top: 20px;
}
.access-info {
    padding-left: 30px;
    width: 100%;
}
.access-list {
    margin-bottom: 15px;
}
.access-head {
    margin-bottom: 5px;
    font-weight: bold;
}
a#google-map {
    font-size: 18px;
    color: #332922;
}

/*お問い合わせ*/
#contact {
    padding-top: 120px;
}
.contact-in {
    margin-top: 15px;
    padding: 0px 15px;
}
.radio-left {
    margin-left: 10px;
}
.contact-list {
    margin-top: 15px;
}
.contact-area {
    height: 30px;
}
#contact textarea {
    height: 180px;
}
.contact-area {
    width: 50%;
}
input[type=text],
textarea {
    font-size: 1.2rem;
}
/*ボタン*/
.btn {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    margin: 25px 0;
    border-radius: 5px;
    background-color: #604C3F;
    color: #E6D9CE;
}
.btn:hover {
    background-color: #997A65;
    color: #604C3F;
}

/*ページ先頭*/
#top {
    padding: 10px;
    margin: 0 auto;
    width: 45px;
}
#top p {
    font-size: 20px;
    color: #604C3F;
    text-align: center
}
.top-line_1,
.top-line_2 {
    background-color: #604C3F;
    width: 28px;
    height: 4px;
    display: block;
    margin-bottom: 8px;
}
.top-line_1 {
    transform: translateY(12px) rotate(-40deg);
}
.top-line_2 {
    transform: translateX(18px) rotate(40deg);
}

/*フッター*/

footer {
    margin-top: 50px;
    background-color: #604C3F;
}

#footer-in {
    max-width: 1040px;
    margin: 0 auto;
}

#footer-logo {
    float: left;
    margin: 50px 20px 0 50px;
    font-size: 35px;
    color: #E6D9CE;
}

/*フッターリスト*/
#footer-list {
    height: 200px;
}
#footer-list > ul {
    display: flex;
}
.fli {
    width: 25%;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
}
.fli-sub a {
    padding-top: 15px;
    font-size: 19px;
    display: inline-block;
}
footer p {
    text-align: center;
    padding: 10px;
    color: #E6D9CE;
}
